div#container
{
	z-index: 1;
	background: #000000;
	width: 768px;
}

#mainapp
{
	width: 768px;
	height: 512px;
	position: relative;
}

.plant-select-container
{
    height: 300px;
    width: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.plant-panel
{
    width: 250px;
    height: 130px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

.plant-image
{
    width: 50px;
    height: 100px;
	background: #555555;
	display: block;
	float: left;
}

.plant-title
{
}

.plant-info
{
}

.plant-selected
{
    border-style: solid;
    border-width: 2px;
    border-color: tomato;
}
